
@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: 
    url('../fonts/honyajire/HonyaJi-Re.woff2') format('woff2'),
    url('../fonts/honyajire/HonyaJi-Re.woff') format('woff'),
    url('../fonts/honyajire/HonyaJi-Re.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
